{% extends 'layouts/base.html' %}

{%  load static %}

{% block content %}

<hr>
<form class="container mt-5s" method="post">
    {% csrf_token %}
    <label><b>Recruiter Name</b></label>
    <input type="text" class="form-control" name="uname" value="{{user.fname}} {{user.laname}}">

    <label><b>Status</b></label>
    <select class="form-control" name="status">

        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>

    </select>

    <input type="submit" class="btn btn-primary" style="margin-top: 2%; color:darkcyan; background-color:black; height:40px; font-size:20px">


</form>


{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}