{% extends 'layouts/base.html' %}

{%  load static %}

{% block content %}


<style>
    tr{
        text-align: center;
    }
</style>

<hr>
<div class="container">
<table class="table table-hover " id="example">
    <thead>
        <tr style="background-color:darkolivegreen; color : white">
            <th>S.No.</th>
            <th>Full Name</th>
            <th>Email Id</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>

    </thead>

        <tbody>
            {% for i in data %}

            <tr style="background-color: #DEB887;">
                <td>{{forloop.counter}}</td>
                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                <td>{{i.user.username}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.gender}}</td>
                <!-- <td><img src ="{{i.image.url}}" style="width: 80px; height:80px; border-radius:50%;"></td> -->
                <td><a href="{% url 'change_status' i.id %}" class="btn btn-success btn-sm">Change Status</a>
                <td><a href="{% url 'delete_user' i.user.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you really want to delete the data')">Delete</a></td>

            </tr>
            {% endfor %}

        </tbody>

</table>

</div>


{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}